*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
@media (max-width:585px) {
    .container_login{
        min-width: 100vw;
        min-height: 100vh;
    
        background-image: 
        linear-gradient(to bottom, 
        #061934, #00205d, #002387, #0020ae, #0000d1);
    
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }
    
    .container_login form{
        width: 50%;
        height: 80vh;
        
        border-radius: 5px;
    
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    
        -webkit-box-shadow: 0px 17px 30px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow:    0px 17px 30px 0px rgba(0, 0, 0, 1);
        box-shadow:         0px 17px 30px 0px rgba(0, 0, 0, 1);
    }
    
    .container_login form input{
        width: 80%;
        padding:2vh;
        margin: 1.5vh 0;
    
        border-radius: 4px;
        border: none;
        outline: none;
    
        color: white;
        font-weight: bold;
        background-color: #001635;
    }
    .tittle{
        color: white;
        font-size: 4vh;
        font-weight: bold;
        margin: 2vh 0;
    }
    .sub_title{
        color: white;
        font-size: 3vh;
        margin-bottom: 7vh;
    }
    
    .alert{
        font-weight: bold;
        color: white;
        font-size: 2.5vh;
        transition: all 1.s ease;
    }
    
    .container_login button{
        width:50%;
        padding:1vh;
        margin: 1vh 0;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background: #001635;
        font-weight: bold;
        color: white;
        transition: all 1s ease;
    
    }
    .container_login button:hover{
        
        transition: all 1s ease;
        -webkit-box-shadow: 0px 17px 30px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow:    0px 17px 30px 0px rgba(0, 0, 0, 1);
        box-shadow:         0px 17px 30px 0px rgba(0, 0, 0, 1);
    }
    
    .container_login .options {
        display: flex;
        flex-direction: column;
        margin-top: 1vh;
    }
    .options a{
        color: white;
        margin: 1vh 0;
        font-size: 13px;
    }
    
    .socials{
        color: white;
        font-size: 2.5vh;
        margin: 4vh 0;
    }
    
    .container_socials{
        display: flex;
        color: white;
        font-weight: bold;
        font-size: 3vh;
    }
    .container_socials p{
        margin: 0 2vh;
        padding:1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease;
        
    }
    .container_socials p:hover{
        transition: all 0.5s ease;
        -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 2px 30px 0px rgba(0, 0, 0, 1);
    box-shadow:         0px 2px 30px 0px rgba(0, 0, 0, 1);
    }
}

@media (min-width:586px) and (max-width:768px) {
    .container_login{
        min-width: 100vw;
        min-height: 100vh;
    
        background-image: 
        linear-gradient(to bottom, 
        #061934, #00205d, #002387, #0020ae, #0000d1);
    
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
    }
    
    .container_login form{
        width: 70%;
        height: 80vh;
        
        border-radius: 5px;
    
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    
        -webkit-box-shadow: 0px 17px 30px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow:    0px 17px 30px 0px rgba(0, 0, 0, 1);
        box-shadow:         0px 17px 30px 0px rgba(0, 0, 0, 1);
    }
    
    .container_login form input{
        width: 50%;
        padding:2vh;
        margin: 1.5vh 0;
    
        border-radius: 4px;
        border: none;
        outline: none;
    
        color: white;
        font-weight: bold;
        background-color: #001635;
    }
    .tittle{
        color: white;
        font-size: 4vh;
        font-weight: bold;
        margin: 2vh 0;
    }
    .sub_title{
        color: white;
        font-size: 3vh;
        margin-bottom: 7vh;
    }
    
    .alert{
        font-weight: bold;
        color: white;
        font-size: 2.5vh;
        transition: all 1.s ease;
    }
    
    .container_login button{
        width:50%;
        padding:1vh;
        margin: 1vh 0;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background: #001635;
        font-weight: bold;
        color: white;
        transition: all 1s ease;
    
    }
    .container_login button:hover{
        /* background-color:white;
        color: #061934; */
        transition: all 1s ease;
        -webkit-box-shadow: 0px 17px 30px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow:    0px 17px 30px 0px rgba(0, 0, 0, 1);
        box-shadow:         0px 17px 30px 0px rgba(0, 0, 0, 1);
    }
    
    .container_login .options {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1vh;
    }
    .options a{
        color: white;
        margin: 2vh 2vw;
        font-size: 16px;
    }
    
    .socials{
        color: white;
        font-size: 2.5vh;
        margin: 4vh 0;
    }
    
    .container_socials{
        display: flex;
        font-weight: bold;
        font-size: 3vh;
    }
    .container_socials p {
        margin: 0 2vh;
        padding:1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease;
        color: white;
        
    }
    .container_socials p:hover{
        transition: all 0.5s ease;
        -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 2px 30px 0px rgba(0, 0, 0, 1);
    box-shadow:         0px 2px 30px 0px rgba(0, 0, 0, 1);
    }
}

@media (min-width:769px) {
    .container_login{
        min-width: 100vw;
        min-height: 100vh;
        background-image: 
        linear-gradient(to bottom, 
        #061934, #00205d, #002387, #0020ae, #0000d1);
        display: flex;
        align-items: center;
        justify-content: center;
        overflow-x: hidden;
}
    
    .container_login form{
        width: 40%;
        height: 80vh;
        
        border-radius: 5px;
    
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    
        -webkit-box-shadow: 0px 17px 30px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow:    0px 17px 30px 0px rgba(0, 0, 0, 1);
        box-shadow:         0px 17px 30px 0px rgba(0, 0, 0, 1);
    }
    
    .container_login form input{
        width: 50%;
        padding:2vh;
        margin: 1.5vh 0;
    
        border-radius: 4px;
        border: none;
        outline: none;
    
        color: white;
        font-weight: bold;
        background-color: #001635;
    }
    .tittle{
        color: white;
        font-size: 4vh;
        font-weight: bold;
        margin: 2vh 0;
    }
    .sub_title{
        color: white;
        font-size: 3vh;
        margin-bottom: 7vh;
    }
    
    .alert{
        font-weight: bold;
        color: white;
        font-size: 2.5vh;
        transition: all 1.s ease;
    }
    
    .container_login button{
        width:50%;
        padding:1vh;
        margin: 1vh 0;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        background: #001635;
        font-weight: bold;
        color: white;
        transition: all 1s ease;
    
    }
    .container_login button:hover{
        /* background-color:white;
        color: #061934; */
        transition: all 1s ease;
        -webkit-box-shadow: 0px 17px 30px 0px rgba(0, 0, 0, 1);
        -moz-box-shadow:    0px 17px 30px 0px rgba(0, 0, 0, 1);
        box-shadow:         0px 17px 30px 0px rgba(0, 0, 0, 1);
    }
    
    .container_login .options {
        display: flex;
        margin-top: 1vh;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .options a{
        color: white;
        margin: 2vh 2vw;
        font-size: 16px;
    }
    
    .socials{
        color: white;
        font-size: 2.5vh;
        margin: 4vh 0;
    }
    
    .container_socials{
        display: flex;
        color: white;
        font-weight: bold;
        font-size: 3vh;
    }
    .container_socials p{
        margin: 0 2vh;
        padding:1vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        transition: all 0.5s ease;
        
    }
    .container_socials p:hover{
    transition: all 0.5s ease;
    -webkit-box-shadow: 0px 2px 30px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow:    0px 2px 30px 0px rgba(0, 0, 0, 1);
    box-shadow:         0px 2px 30px 0px rgba(0, 0, 0, 1);
    }
}